body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

#header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #333;
    font-weight: 500;
}

.nav-link:hover {
    color: #007bff;
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown-item {
    color: #333;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

#campus-portal {
    padding: 100px 0;
}

.display-4 {
    font-size: 2.5rem;
}

.lead {
    font-size: 1.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}


.text-center{
    text-align: center;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
 }

 .card {
    border: 1px solid #e0e0e0; /* Light colored border */
    border-radius: 15px; /* Rounded corners */
}

.card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.page-heading{
    color: black;
}
